/* GENERAL CSS CODE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* clearfix::after{
    content: '';
    display: table;
    clear: both;
} */

.wrapper{
    width: 100%;
}

.container{
    font-family: 'Raleway', sans-serif;
    width: 75%;
    /* height: 500px; */
    margin: auto;
    /* background-color: rgba(255, 0, 255, 0.5); */
}

/* FIXED HEADER */
.fixed-header{
    width: 100%;
    background-color: #ecf2f9;
    position: fixed;
}

.fixed-header::after{
    content: '';
    display: table;
    clear: both;
}
/* LEFT SIDE FIXED HEADER */
.left-fh{
    width: 30%;
    float: left;
}

.left-fh::after{
    content: '';
    display: table;
    clear: both;
}

.language{
    max-width: 50%;
    float: left;
    padding: 30px 35px;
    padding-left: 0;
    font-weight: bold;
}

.language a{
    color: #425b76;
    text-decoration: none;
}

.border{
    float: left;
    margin-top: 25px;
    width: 1px;
    height: 30px;
    border-left: 2px solid lightgrey;
}
.contact-sales{
    max-width: 50%;
    float: left;
    padding: 30px 35px;
    padding-right: 0;
    font-weight: bold;
}

.contact-sales a{
    color: #425b76;
    text-decoration: none;
}

/* RIGHT SIDE FIXED HEADER */
.right-fh{
    width: 30%;
    float: right;
}

.search-icon{
    float: right;
    padding: 30px 15px;
}

.search-icon a{
    color: #2eb8b8;
}

.login{
    float: right;
    padding: 30px 15px;
}

.login a{
    padding: 10px;
    border: 1px solid #e64d00;
    border-radius: 5px;
    color: #e64d00;
    text-decoration: none;
    background-color: white
}

.login a:hover{
    background-color: rgb(252, 225, 186, 0.5);
}

.hubspotfree{
    float: right;
    padding: 30px 15px;
}


.hubspotfree a{
    padding: 10px;
    border: 1px solid #e64d00;
    border-radius: 5px;
    background-color: #e64d00;
    text-decoration: none;
    color: white;
}

.hubspotfree a:hover{
    background-color: rgba(253, 136, 0, 0.3);
    border: 1px solid rgba(253, 136, 0, 0.3);
}

.right-fh::after{
    content: '';
    display: table;
    clear: both;
    }

/* HEADER1 */
.header1{
    width: 100%;
    padding-top: 78px;
}

.h1{
    width: 100%;
}

.h1::after{
    content: '';
    display: table;
    clear: both;
}

/* LEFTSIDE HEADER1 */
.left-logo{
    width: 30%;
    padding:22px 0;
    float: left;
}

.left-logo img{
    max-width: 40%;
    height: 30px;
}

/* RIGHTSIDE HEADER1 */
.right-menu{
    float: right;
    font-weight: bold;
    display: inline-block;
}

.right-menu::after{
    content: '';
    display: table;
    clear: both;
}

.right-menu div{
    padding: 30px 15px;
    float: left;
    color: #425b76;
}

.right-menu i{
    color: #ccd9ff;
}

.header2{
    background-color: #425b76;
}


/* HEADER2 */
.h2{
    width: 100%;
    padding: 25px 12px;
    font-size: 20px;
}

.header2 p{
    margin: 0 20px;
    color: white;
}

.header2 a{
    color: white;
}

/* MAIN1 */
.main1{
    width: 100%;
    /* height: 750px; */
    background-image: url("../img/main1.png");
    background-position: bottom;
    background-size: cover;
    border-bottom: 3px solid black;
    min-height: 850px;
}

/* LEFTSIDE MAIN1 */
.main1-left{
    width: 35%;
    color: #484889;
    padding-bottom: 220px;
}

.main1-left h1{
    font-size: 45px;
    padding-top: 50px;
    font-weight: bolder;
}

.main1-left p{
    font-size: 20px;
    padding-top: 20px;
}

.hubspotfree2{
    padding:40px 0 20px 0;

}

.hubspotfree2 a{
    padding: 20px 10px;
    border: 1px solid #e64d00;
    border-radius: 5px;
    background-color: #e64d00;
    text-decoration: none;
    color: white;
}

.hubspotfree2 a:hover{
    background-color: rgba(253, 136, 0, 0.3);
    border: 1px solid rgba(253, 136, 0, 0.3);
}

.shorter-p{
    width: 50%;
}

.shorter-p p{
    font-size: 18px;
    padding-bottom: 30px;
}

/* MAIN2 */
.main2{
    width:  100%;
    background-color: #ecf2f9;
}

.m2{
    width: 100%;
    background-color: red;
}

.m2::after{
    content: '';
    display: table;
    clear: both;
}

.text p{
    padding-top: 10px;
}

.grill{
    width:33.333333%;
    padding: 40px;
    float: left;
    border: 1px solid black;
}

.box{
    background-color: white;
    padding: 30px  50px;
    border: 1px solid black;
    min-height: 400px;
}

.box h2{
    padding-bottom: : 10px;
    font-size: 20px;
}

.box li{
    padding: 5px 5px;
}


.button-m2{
    padding-top: 40px;
}

.button-m2 a{
    padding: 20px 10px;
    border: 1px solid #e64d00;
    border-radius: 5px;
    background-color: #e64d00;
    text-decoration: none;
    color: white;
}

.box2{
    border-top: 1px solid black;
}


.main3{
    width:  100%;
    height: 500px;
    background-color: #00e6e6;
}


.main4{
    width:  100%;
    height: 500px;
    background-color: #ecf2f9;
}

footer{
    width: 100%;
    height: 500px;
    background-color: #003399;
}
