/* GENERAL CSS CODE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* clearfix::after{
    content: '';
    display: table;
    clear: both;
} */

.wrapper{
    width: 100%;
}

.container{
    font-family: 'Raleway', sans-serif;
    width: 75%;
    margin: auto;
}

/* FIXED HEADER */
.fixed-header{
    width: 100%;
    background-color: #ecf2f9;
    position: fixed;
    z-index: 9999;
}

.fixed-header::after{
    content: '';
    display: table;
    clear: both;
}
/* LEFT SIDE FIXED HEADER */
.left-fh{
    width: 30%;
    float: left;
}

.left-fh::after{
    content: '';
    display: table;
    clear: both;
}

.language{
    max-width: 50%;
    float: left;
    padding: 30px 35px;
    padding-left: 0;
    font-weight: bold;
}

.language a{
    color: #425b76;
    text-decoration: none;
}

.border{
    float: left;
    margin-top: 25px;
    width: 1px;
    height: 30px;
    border-left: 2px solid lightgrey;
}

.contact-sales{
    max-width: 50%;
    float: left;
    padding: 30px 35px;
    font-weight: bold;
}

.contact-sales a{
    color: #425b76;
    text-decoration: none;
}

/* RIGHT SIDE FIXED HEADER */
.right-fh{
    width: 30%;
    float: right;
}

.search-icon{
    float: right;
    padding: 30px 15px;
}

.search-icon a{
    color: #2eb8b8;
}

.login{
    float: right;
    padding: 30px 15px;
}

.login a{
    font-weight: bold;
    padding: 10px;
    border: 1px solid #e64d00;
    border-radius: 5px;
    color: #e64d00;
    text-decoration: none;
    background-color: white
}

.login a:hover{
    background-color: rgb(252, 225, 186, 0.5);
}

.hubspotfree{
    float: right;
    padding: 30px 15px;
}


.hubspotfree a{
    font-weight: bold;
    padding: 10px;
    border: 1px solid #e64d00;
    border-radius: 5px;
    background-color: #e64d00;
    text-decoration: none;
    color: white;
}

.hubspotfree a:hover{
    background-color: rgba(253, 136, 0, 0.3);
    border: 1px solid rgba(253, 136, 0, 0.3);
}

.right-fh::after{
    content: '';
    display: table;
    clear: both;
    }

/* HEADER1 */
.header1{
    width: 100%;
    padding-top: 78px;
}

.h1{
    width: 100%;
}

.h1::after{
    content: '';
    display: table;
    clear: both;
}

/* LEFTSIDE HEADER1 */
.left-logo{
    width: 30%;
    padding:22px 0;
    float: left;
}

.left-logo img{
    max-width: 40%;
    height: 30px;
}

/* RIGHTSIDE HEADER1 */
.right-menu{
    float: right;
    font-weight: bold;
    display: inline-block;
}

.right-menu::after{
    content: '';
    display: table;
    clear: both;
}

.right-menu div{
    padding: 30px 15px;
    float: left;
    color: #425b76;
}

.right-menu i{
    color: #ccd9ff;
}

.header2{
    background-color: #425b76;
}


/* HEADER2 */
.h2{
    width: 100%;
    padding: 25px 12px;
    font-size: 20px;
}

.header2 p{
    margin: 0 20px;
    color: white;
}

.header2 a{
    color: white;
}

/* MAIN1 */
.main1{
    width: 100%;
    background-image: url("../img/main1.png");
    background-position: bottom;
    background-size: cover;
    border-bottom: 3px solid black;
    min-height: 850px;
}

/* LEFTSIDE MAIN1 */
.main1-left{
    width: 35%;
    color: #425b76;
    padding-bottom: 220px;
}

.main1-left h1{
    font-size: 45px;
    padding-top: 50px;
    font-weight: bolder;
}

.main1-left p{
    font-size: 20px;
    padding-top: 20px;
}

.hubspotfree2{
    padding:40px 0 20px 0;

}

.hubspotfree2 a{
    font-weight: bold;
    padding: 20px 10px;
    border: 1px solid #e64d00;
    border-radius: 5px;
    background-color: #e64d00;
    text-decoration: none;
    color: white;
}

.hubspotfree2 a:hover{
    background-color: rgba(253, 136, 0, 0.3);
    border: 1px solid rgba(253, 136, 0, 0.3);
}

.shorter-p{
    width: 50%;
}

.shorter-p p{
    font-size: 18px;
    padding-bottom: 30px;
}

/* MAIN2 */
.main2{
    width:  100%;
    background-color: whitesmoke;
    color: #33475b;
}

.m2{
    width: 100%;
}

.m2::after{
    content: '';
    display: table;
    clear: both;
}

.text p{
    padding-top: 10px;
    font-size: 20px;
}

.grill{
    width:33.333333%;
    padding: 40px;
    float: left;
}

.grill h1{
    font-size: 35px;
}

.box{
    background-color: white;
    padding: 30px  50px;
    min-height: 400px;
}

.box h2{
    padding-bottom: : 10px;
    font-size: 20px;
}

.box h4{
    padding: 15px 0;
}

.box p{
    padding: 10px 0;
    font-size: 12px;
}

.box li{
    font-size: 15px;
    padding: 5px 5px;
    list-style-type: none;
}

.box li:before {
  content: '✔';
  font-size: 10px;
  padding: 4px 6px;;
  background-color: #ff7a59;
  color: white;
  border-radius: 50px;
  margin-right: 5px;
}

.new{
    position: relative;
}

.new-icon{
    padding: 3px;
    color: white;
    background-color: #00bda5;
    font-size: 13px;
    position: absolute;
    right: -5px;
    top: 5px;
    border-radius: 5px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.box:hover{
    box-shadow: 0px 5px 42px -1px black;
}

.button-m2{
    padding-top: 40px;
    width: 100%;
}

.button-m2 a{
    font-weight: bold;
    width: 100%;
    padding: 20px 50px;
    border: 1px solid #e64d00;
    border-radius: 5px;
    background-color: #e64d00;
    text-decoration: none;
    color: white;
}

.button-m2 a:hover{
    background-color: rgba(253, 136, 0, 0.3);
    border: 1px solid rgba(253, 136, 0, 0.3);
}


.box2{
    border-top: 1px solid black;
}

/* MAIN3 */
.main3{
    width:  100%;
    background: linear-gradient(90deg, rgb(0,172,182) 0%, rgb(0,172,182) 35%, rgb(0,188,166) 100%);
}

.m3 h2, .m3 p{
    color: white;
    text-align: center;
    padding: 10px 200px;
}

.m3 h2{
    font-size: 35px;
    padding-top: 100px;
}

.m3 p{
    font-size: 18px;
    padding-bottom: 50px;
}

.grill2{
    width: 100%;
    min-height: 500px;
    color: white;
}

.box3{
    padding-top: 20px;
    text-align: center;
    float: left;
    width: 25%;
    min-height: 200px;
    border: 1px solid white;
}

.grill2 .box3:nth-child(-n + 4){
    border-top: none;
}

.grill2 .box3:nth-child(n + 5){
    border-bottom: none;
}

.grill2 .box3:nth-child(4n + 1){
    border-left: none;
}

.grill2 .box3:nth-child(4n + 0){
    border-right: none;
}

.number{
    font-family: 'Roboto', sans-serif;
}

.number span{
    position: relative;
    font-size: 20px;
    bottom: 10px;
    left: 2px;
    font-family: none;
}

.box3 .number{
    text-align:center;
    padding: 5px 20px;
    font-size: 50px;
}

.box3 p{
    text-align:center;
    padding: 5px 20px;
    font-size: 15px;
}

.box3 i{
    font-size: 30px;
}

.box3 img{
    padding-top: 20px;
}

.Appmp{
    padding: 18px 0;
}

.customers img{
    padding-bottom: 13px;
}

/* MAIN4 */
.main4{
    color: #33475b;
    width:  100%;
    background-color: white;
}

.m4{
    width: 100%;
}

.upside{
    padding: 50px 0;
}

.upside > div{
    float: left;
}

.upside::after{
    content: '';
    display: table;
    clear: both;
}

.left-us-m4{
    width: 40%;
    padding:50px 0;
}

.left-us-m4 h2{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

.left-us-m4 p{
    padding-top: 20px;
    font-size: 20px;
}

.left-us-m4 span{
    font-weight: bold;
    font-size: 20px;
}

.right-us-m4{
    width: 60%;
    padding-top: 40px;
    text-align: right;
}

.sponsors{
    padding left: 150px;
}

.sponsors img{
    width: 80%;;
}

.downside > div{
    float: left;
}

.downside::after{
    content: '';
    display: table;
    clear: both;
}

.left-ds-m4{
    width: 40%;
}

.left-ds-m4 h2{
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.left-ds-m4 p{
    font-size: 20px;
}

.left-ds-m4 a{
    padding: 25px 60px;
}

.left-ds-m4 p:last-child{
    font-size: 15px;
    padding-top: 30px;
    padding-bottom: 100px;
}

.right-ds-m4{
    width: 60%;
    text-align: right;
    padding-bottom: 80px;
}

.right-ds-m4 img{
    width: 55%;
}

footer{
    width: 100%;
    background-color:  #33475b;
}

.footer-in{
    width:100%;
    min-height: 500px;
    color: white;
}

.footer-in::after{
    content: '';
    display: table;
    clear: both;
}

.box-f{
    width: 25%;
    padding: 15px 0;
    padding-top: 100px;
    float: left;
    font-weight:bold;
}

.box-f h3{
    font-size: 20px;
}

.box-f a{
    display: block;
    padding: 15px 0;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
}

.box-f > a:hover{
    color:#00acb6;
}

.support-button{
    padding:15px 0px;
    width: 70%;
    background-color: white;
    border-radius: 5px;
    color: #33475b;
    text-align: center;
    font-size: 12px;
}

.socials a{
    display:inline;
}

.socials a:hover{
    color:#00acb6;
}

.socials i{
    font-size: 30px;
    padding-right: 10px;
    padding-left: 0px;
    padding-top: 10px;
}

.language2{
    width: 100%;
    padding: 40px 0;
    padding-top: 40px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    float: left;
}

.language2 li{
    display: inline;
    text-decoration: none;
}

.language2 a{
    padding: 0px 10px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.language2 a:hover{
    color: #00acb6;
}

.credits{
    padding:20px 10px;
    float: left;
}

.credits p{
    font-size: 14px;
    padding: 20px 0;
    color:  rgba(255, 255, 255, 0.7);
}

.legal-privacy{
    float: right;
}
.legal-privacy a{
    color:  rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 40px 20px;
    float: right;
}

.legal-privacy a:hover{
    color: #00acb6;
}

/* DROPUP-CHAT */

.dropup-chat{
    position: fixed;
    bottom:15px;
    right: 10px;
}

.chat-icon{
    font-size: 60px;
    position: absolute;
    transform: translate(-65%,0);
    right: 50%;
    bottom:20px;
    color: #425b76;
}

.dropup-content{
    display: none;
    position: absolute;
    border: 2px solid black;
    border-radius: 5px;
    bottom: 85px;
    right: -5px;
    background-color: whitesmoke;
    min-width: 160px;
}

.dropup-content .chat-square{
    text-align: center;
    color: black;
    padding: 12px 16px;
}

.dropup-content .robot{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: -28px;
    font-size: 52px;
    color:black;
    border-radius: 50px;
    box-shadow: 0px -5px 0px -1px black;
}

.dropup-chat:hover .dropup-content{
    display: block;
}

.dropup-chat:hover .chat-icon{
    color:black;
}
